@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.background {
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  font-family: "Abhaya Libre", serif;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

header {
  width: 90%;
  margin: 0 auto;
  height: 15vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.instaLink {
  color: #fff;
  font-size: 2rem;
}

.title {
  font-weight: normal;
  color: #fff;
  letter-spacing: 5px;
}
.menuBox {
  width: 75px;
  height: 20px;
  position: relative;
}

.line {
  position: absolute;
  width: 100%;
  height: 1.5px;
  background: #fff;
}
#topLine {
  top: 0;
  left: 0;
}
#bottomLine {
  bottom: 0;
  right: 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 90%;
  left: 5%;
  color: #b5b5b5;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.titleContainer {
  overflow: hidden;
  height: 200px;
}
.emailContainer {
  position: relative;
}

.email {
  position: absolute;
  right: -2%;
  top: 25%;
  font-weight: normal;
  font-size: 1.5rem;
  letter-spacing: 3px;
  transform: rotate(270deg);
  margin-bottom: 10rem;
}

.email::after {
  position: absolute;
  bottom: 50%;
  left: -40%;
  content: "";
  height: 1px;
  width: 5rem;
  background-color: #b5b5b5;
}

main {
  position: absolute;
  width: 800px;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.currentStyleTitle {
  font-weight: normal;
  font-size: 15rem;
  overflow: hidden;
  letter-spacing: 6px;
  align-self: flex-end;
  bottom: 0;
  color: #5e5e5e;

  overflow: hidden;
}

.scrollIndicate {
  width: 2px;
  margin-bottom: 4rem;
}

#selected {
  background: blue;
}
.bar {
  height: 4rem;
  width: 100%;
  background: #b5b5b5;
  margin: 1rem 0;
}
.insideContainer {
  position: relative;
  width: 100%;
  height: 100%;
}
.btns {
  position: absolute;
  top: 50%;
  color: #fff;
  font-weight: normal;
  font-size: 1.5rem;
  letter-spacing: 3px;
  transition: all 0.5s ease;
  background: none;
  font-family: "Abhaya Libre", serif;
  border: none;
}
.prevBtn {
  left: 0;
}
.prevBtn:hover {
  cursor: pointer;
}
.prevBtn::after {
  content: "";
  position: absolute;
  right: -3.5rem;
  background-color: #fff;
  top: 50%;
  height: 1px;
  width: 3rem;
  transition: all 0.5s ease;
}
.prevBtn:hover:after {
  right: 4rem;
}
.nextBtn {
  right: 0;
}
.nextBtn:hover {
  cursor: pointer;
}
.nextBtn::after {
  content: "";
  position: absolute;
  left: -3.5rem;
  background-color: #fff;
  top: 50%;
  height: 1px;
  width: 3rem;
  transition: all 0.5s ease;
}
.nextBtn:hover:after {
  left: 4rem;
}
.cards {
  position: absolute;
  width: 50%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cardBox {
}
.photoCard {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 1s ease;
}
.card1 {
  background-color: purple;
  transform: rotate(10deg);
  position: absolute;
}
.card2 {
  background-color: green;
  transform: rotate(-10deg);
  position: absolute;
}
.card3 {
  background-color: teal;
  transform: rotate(15deg);
  position: absolute;
}
.card4 {
  background-color: pink;
  transform: rotate(-5deg);
  position: absolute;
}

/* -----------------------------------------------IntroAnimation--------------------------------- */

.introAnimation {
  height: 100vh;
  width: 100vw;
  background-color: #f2f2f2;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
}
.introText {
  position: absolute;
  color: #5e5e5e;

  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}
.introText h3 {
  font-weight: normal;
  font-size: 1.8rem;
}

.counter {
  position: absolute;
  bottom: 10%;
  left: 5%;
  font-size: 3rem;
  color: #5e5e5e;
}

/* -------------------------------------------album-------------------------------------- */
.backButton {
}

.albumBody {
  width: 70%;
  margin: 0 auto;
  height: 100vh;
}

.albumTitle {
  text-align: center;
  font-weight: normal;
  font-size: 12rem;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: #f1f1f1;
}

.albumGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);

  gap: 5rem;
  height: 100%;
  width: 100%;
  grid-template-areas:
    "numberZero two four"
    "numberZero two four"
    "one two five"
    "one three five"
    "one three five";
}

.albumPhoto0 {
  grid-area: numberZero;
}
.albumPhoto1 {
  grid-area: one;
}
.albumPhoto2 {
  grid-area: two;
}
.albumPhoto3 {
  grid-area: three;
}
.albumPhoto4 {
  grid-area: four;
}
.albumPhoto5 {
  grid-area: five;
}
