@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: visible;
}

.background {
  background-repeat: repeat;
  position: relative;
  font-family: "Abhaya Libre", serif;
  transition: ease all 0.5s;
  padding-bottom: 5rem;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

header {
  width: 90%;
  margin: 0 auto;
  height: 15vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.instaLink {
  color: #fff;
  font-size: 2rem;
}

.title {
  font-weight: normal;
  display: inline-block;

  color: #fff;
  letter-spacing: 3px;
  text-align: center;
  position: relative;
}
title::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
}
.menuBox {
  width: 75px;
  height: 20px;
  position: relative;
}

.menuBox::after {
  content: "Soon";
  position: absolute;
  left: -65%;
  top: -5%;

  background: #fff;
  border-radius: 3px;
  padding: 2px 4px;
}

.line {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
}
#topLine {
  top: 0;
  left: 0;
}
#bottomLine {
  bottom: 0;
  right: 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 90%;
  left: 5%;
  color: #b5b5b5;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.titleContainer {
  overflow: hidden;
  height: 200px;
}
.emailContainer {
  position: relative;
}

.email {
  position: absolute;
  right: -5%;
  top: 5%;
  font-weight: normal;
  font-size: 2rem;
  letter-spacing: 3px;
  transform: rotate(270deg);
  margin-bottom: 10rem;
  color: #fff;
}
.email::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  right: 107%;
  bottom: 45%;
}
main {
  position: absolute;
  width: 800px;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.currentStyleTitle {
  display: inline-block;
  font-weight: normal;
  font-size: 15rem;
  overflow: hidden;
  letter-spacing: 6px;
  align-self: flex-end;
  color: #f1f1f1;
  line-height: 0.7;

  margin-top: 3.7rem;
}

.scrollIndicate {
  width: 2px;
  margin-bottom: 4rem;
}

#selected {
  background: blue;
}
.bar {
  height: 4rem;
  width: 100%;
  background: #b5b5b5;
  margin: 1rem 0;
}
.insideContainer {
  position: relative;
  width: 100%;
  height: 100%;
}
.btns {
  position: absolute;
  top: 50%;
  color: #fff;
  font-weight: normal;
  font-size: 1.5rem;
  letter-spacing: 3px;
  transition: all 0.2s ease;
  background: none;
  font-family: "Abhaya Libre", serif;
  border: none;
}
.btns:focus {
  outline: none;
  border: 1px solid #fff;
}
.prevBtn {
  left: 0;
}
.prevBtn:hover {
  cursor: pointer;
}
.prevBtn::after {
  content: "";
  position: absolute;
  right: -3.5rem;
  background-color: #fff;
  top: 50%;
  height: 1px;
  width: 3rem;
  transition: all 0.5s ease;
}
.prevBtn:hover:after {
  right: 4rem;
}
.nextBtn {
  right: 0;
}
.nextBtn:hover {
  cursor: pointer;
}
.nextBtn::after {
  content: "";
  position: absolute;
  left: -3.5rem;
  background-color: #fff;
  top: 50%;
  height: 1px;
  width: 3rem;
  transition: all 0.5s ease;
}
.nextBtn:hover:after {
  left: 4rem;
}
.cards {
  position: absolute;
  width: 50%;
  height: 70%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cardBox {
}
.photoCard {
  position: absolute;
  width: 100%;
  height: 110%;
  background-position: center;
  background-size: cover;
  transition: all 1s ease-in-out;
}
.card1 {
  transform: rotate(10deg);
  position: absolute;
}
.card2 {
  transform: rotate(-10deg);
  position: absolute;
}
.card3 {
  transform: rotate(15deg);
  position: absolute;
}
.card4 {
  transform: rotate(-5deg);
  position: absolute;
}
.albumCount {
  margin-bottom: 10rem;
  color: #f1f1f1;
}
.albumCount h3 {
  font-weight: normal;
  font-size: 3rem;
}
.progressBar {
  height: 7rem;
  background: #fff;
  width: 2px;
  margin: 0 auto;
}

/* -----------------------------------------------IntroAnimation--------------------------------- */

.introAnimation {
  height: 100vh;
  width: 100vw;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}
.introText {
  position: absolute;
  color: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.introText h3 {
  font-weight: normal;
  font-size: 1.8rem;
}
.introText h4 {
  font-weight: normal;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 1rem;
}

.counter {
  position: absolute;
  bottom: 10%;
  left: 5%;
  font-size: 3rem;
  color: #fff;
}
.outerModal {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
}
/* -------------------------------------------album-------------------------------------- */
.backButton {
  color: #fff;
  background: none;
  font-weight: normal;
  font-size: 1.5rem;
  letter-spacing: 3px;
  transition: all 0.2s ease;
  background: none;
  font-family: "Abhaya Libre", serif;
  border: none;
  position: relative;
}
.backButton:focus {
  outline: none;
  border: 1px solid #fff;
}
.backButton:hover {
  cursor: pointer;
}
.backButton::after {
  content: "";
  position: absolute;
  right: -3.5rem;
  background-color: #fff;
  top: 50%;
  height: 1px;
  width: 3rem;
  transition: all 0.5s ease;
}
.backButton:hover:after {
  right: 4rem;
}

.albumBody {
  width: 70%;
  margin: 0 auto;
  height: auto;
}

.albumTitle {
  text-align: center;
  font-weight: normal;
  font-size: 7rem;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: #f1f1f1;
  margin-bottom: 5rem;
}
.albumPhoto {
  cursor: pointer;
  min-height: 20rem;
}
.albumGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10rem;

  width: 100%;
  grid-template-areas:
    "numberZero two four"
    "numberZero two four"
    "one two five"
    "one three five"
    "one three five";
}

.albumPhoto0 {
  grid-area: numberZero;
}
.albumPhoto1 {
  grid-area: one;
}
.albumPhoto2 {
  grid-area: two;
}
.albumPhoto3 {
  grid-area: three;
}
.albumPhoto4 {
  grid-area: four;
}
.albumPhoto5 {
  grid-area: five;
}

.photoInfo {
  color: #fff;
  position: absolute;
  right: 25%;
  top: 75%;
}

.photoInfo span {
  display: block;
  letter-spacing: 2px;
  font-size: 1.2rem;
}
.photoModal {
  position: absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  width: 40%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ---------------------media--------------------------------- */

@media (max-width: 1920px) {
  .albumGrid {
    gap: 5rem;
  }
}

@media (max-width: 1300px) {
  .albumBody {
    width: 85%;
  }

  .email {
    opacity: 0;
  }

  .albumCount {
    opacity: 0;
  }
}

@media (max-width: 900px) {
  .albumGrid {
    gap: 2.5rem;
  }
}

@media (max-width: 768px) {
  .background {
    transition: all 0s ease-in-out;
    height: 100%;
  }

  .photoCard {
    transition: all 0s ease-in-out;
  }
  .instaLink {
    display: none;
  }

  html {
    font-size: 15px;
  }
  .cards {
    width: 30%;
    height: 50%;
  }
  .prevBtn {
    left: 15%;
  }
  .nextBtn {
    right: 15%;
  }
  .currentStyleTitle {
    font-size: 11rem;
    text-align: center;
    display: block;
    width: 100%;
  }
  .titleContainer {
    width: 100%;
  }

  .email {
    display: none;
  }

  .albumCount {
    display: none;
  }
  .albumGrid {
    display: block;
    padding-bottom: 5rem;
    height: 100%;
  }

  .albumPhoto {
    width: 100%;
    margin: 2rem 0;
  }

  .photoModal {
    width: 70%;
    height: 50%;
  }
}

@media (max-width: 600px) {
  .currentStyleTitle {
    font-size: 10rem;
    margin-top: 7rem;
  }
  .albumTitle {
    font-size: 5rem;
  }
}
@media (max-width: 450px) {
  .title {
    font-size: 1rem;
    letter-spacing: 2px;
  }
  .currentStyleTitle {
    font-size: 5rem;
  }
  .cards {
    width: 22%;
    height: 40%;
  }

  .prevBtn {
    left: 27%;
  }
  .nextBtn {
    right: 27%;
  }

  .prevBtn::after,
  .nextBtn::after {
    width: 1.5rem;
  }

  .prevBtn::after {
    right: -50%;
  }

  .nextBtn::after {
    left: -50%;
  }
}
